<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Projeto 1 - Clientes</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h2>Depoimentos de Clientes</h2>

    <p>Cliente Maria: - "Os funcionários são muitos atenciosos!"</p>
    <p>Cliente José: - "Eles dão grandes descontos em compras à vista!"</p>
    <p>Cliente João: - "Esta loja é muito boa!"</p>
    <p>Cliente Ana: - "Vendem ótimos produtos!"</p>

    <br>
    <p><a href="/">voltar para loja</a><p>

  </body>
</html>