<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Projeto 1 - Produtos</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h2>Produtos Mais Vendidos</h2>

    <table>
    <tr> <th> Produto </th>  <th>Preço</th> <th>Foto</th> </tr>
    <tr> <td>Geladeira</td>  <td>R$ 900</td> <td><img width="100px" src="/static/geladeira.jpg"</td></tr>
    <tr> <td>Fogão</td>  <td>R$ 500</td> </tr>
    <tr> <td>TV 50"</td>  <td>R$ 1600</td> </tr>
    </table>

    <br>
    <p><a href="/">voltar para loja</a><p>

  </body>
</html>